@import "tailwindcss";
#root {
  overflow-x: hidden;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar,
.app::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Outfit", ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji";
}
a,
p,
li,
button,
input,
textarea,
select,
label,
small,
span,
div {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji";
}

.wrapper {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}
.content {
  background-color: #fff;
}
/* =============== Section Heading =================== */
.section-header {
  margin-bottom: 30px;
}
.section-header h4 {
  font-size: 20px;
  line-height: 30px;
  color: #4f46e5;
}
.section-header h2 {
  font-size: 28px;
  line-height: 38px;
  margin: 10px 0;
}
.section-header p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

/* =============== Reccomendation Card =================== */
.recommendationcard-content {
  padding: 25px 10px;
  border-radius: 10px;
}

.recommendationcard-content h4 {
  font-style: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* =============== Slider =================== */
.slider {
  position: relative;
  max-height: 420px;
}
.slider img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider h3 {
  position: absolute;
  left: 50%;
  top: calc(100% + 50px);
  transform: translate(-50%, -50%);
  transition: all linear 0.5s;
  width: 100%;
  text-align: center;
  height: auto;
  padding: 15px;
  background-color: #fff;
}

.slider:hover h3 {
  top: 100%;
}

.pagelink a {
  text-decoration: none;
  color: #fff;
  background-color: #837fcb;
  padding: 8px 20px;
  border-radius: 25px;
  transition: all linear 0.3s;
}

.pagelink a:hover {
  background-color: #9b98d5;
}

/* ==== details Page ==== */
.genre span {
  text-transform: capitalize;
  background-color: #837fcb;
  color: #fff;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.card-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-details p {
  font-size: 15px;
  margin-bottom: 15px;
}

.cast span {
  text-transform: capitalize;
  font-size: 15px;
}
.crew {
  margin: 15px 0 30px;
}
.crew p {
  text-transform: capitalize;
  font-size: 14px;
}

/* ======= Crad ===== */
.card {
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}

.card img {
  width: 100%;
}

.card-content {
  margin-top: 20px;
}
.card-content h2 {
  font-style: 20px;
}

.card-content p {
  font-style: 16px;
  margin-top: 15px;
}

/* ===== hero section ===== */
.hero {
  background: url("/src/assets/hero_image.png") no-repeat top;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
.hero-content {
  text-align: center;
}
.hero-content h4 {
  font-style: 18px;
  padding: 3px 11px;
  border-radius: 25px;
  font-weight: 400;
  background-color: #837fcb;
  display: inline-block;
}
.hero-content h1 {
  font-size: 60px;
  margin: 25px 0;
}
.hero-content p {
  font-size: 16px;
}

.hero-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
}
.hero-content ul li {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  color: #837fcb;
  padding: 8px 15px;
  border-radius: 22px;
}
