@import "tailwindcss";
#root {
  overflow-x: hidden;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar,
.app::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Outfit", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}
a,
p,
li,
button,
input,
textarea,
select,
label,
small,
span,
div {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

.wrapper {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}
/* =============== Section Heading =================== */
.section-header {
  margin-bottom: 50px;
}
.section-header h4 {
  font-size: 20px;
  line-height: 30px;
  color: #4f46e5;
}
.section-header h2 {
  font-size: 28px;
  line-height: 38px;
  margin: 15px 0;
}
.section-header p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

/* =============== Reccomendation Card =================== */
.recommendationcard-content {
  padding: 25px 10px;
  border-radius: 10px;
}

.recommendationcard-content h4 {
  font-style: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* =============== Slider =================== */
.slider {
  position: relative;
  max-height: 420px;
}
.slider img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider h3 {
  position: absolute;
  left: 50%;
  top: calc(100% + 50px);
  transform: translate(-50%, -50%);
  transition: all linear 0.5s;
  width: 100%;
  text-align: center;
  height: auto;
  padding: 15px;
  background-color: #fff;
}

.slider:hover h3 {
  top: 100%;
}
